@charset "utf-8";

<style>
        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        * {
            margin: 0px;
            padding: 0px;
        }
        img {
            width: 100vw;
            height: ;
            

        }
        a {
            display: block;
            background-color: darkred;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
        }
        :hover {
            background-color: red;
        }

    </style>